
-- Fix audit_logs RLS Policies
ALTER TABLE public.audit_logs ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "No one can update audit logs" ON public.audit_logs;
DROP POLICY IF EXISTS "No one can delete audit logs" ON public.audit_logs;
DROP POLICY IF EXISTS "Authenticated users can insert audit logs" ON public.audit_logs;
DROP POLICY IF EXISTS "System can insert audit logs" ON public.audit_logs;
DROP POLICY IF EXISTS "Audit logs are read-only" ON public.audit_logs;
DROP POLICY IF EXISTS "Platform admins can read all audit logs" ON public.audit_logs;
DROP POLICY IF EXISTS "Users read own school logs" ON public.audit_logs;
DROP POLICY IF EXISTS "School admins can read their own audit logs" ON public.audit_logs;

-- Allow SELECT for Platform Admins and Users reading their own school's logs
CREATE POLICY "Audit Logs Select" ON public.audit_logs
    FOR SELECT USING (
        school_id = (auth.jwt() ->> 'school_id')::uuid 
        OR public.is_platform_admin()
    );

-- Allow any authenticated user to insert audit logs
CREATE POLICY "Audit Logs Insert" ON public.audit_logs
    FOR INSERT WITH CHECK (
        auth.role() = 'authenticated'
    );

-- Prevent Updates and Deletes globally
CREATE POLICY "Audit Logs Prevent Update" ON public.audit_logs FOR UPDATE USING (false);
CREATE POLICY "Audit Logs Prevent Delete" ON public.audit_logs FOR DELETE USING (false);

